# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependências do Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnpm-debug.log
 
# Arquivos de build
/dist
/build
/out
 
# Variáveis de ambiente
.env
.env.local
.env.development
.env.test
.env.staging
.env.production
 
# Logs
logs
*.log
 
# Sistema operacional
.DS_Store
Thumbs.db
 
# Editor
.vscode/
.idea/
*.swp
*.swo